@model SistemaGerencia.Web.Models.OrcamentoViewModel


@{
    ViewBag.Title = "_DadosCadastroOrcamento";
}

@{

    object htmlAttr;
    if(Model.Novo)
    {
        htmlAttr = new { @class = "form-control" };
    }
    else
    {
        htmlAttr = new { @class = "form-control", @readonly = "readonly" };
    }

    <input type="text" hidden value="@Model.IdSolicitacao" id="idSolicitacao" name="idSolicitacao" />
    <input type="text" hidden value="@Model.Id" id="id" name="id" />


    if (!Model.Novo)
    {
        <div class="row">
            <div class="col-md-2">
                <label>Data/Hora Emissão</label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("DataHoraEmissao", Model.DataHoraEmissao, htmlAttr)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-3">
                @Html.DropDownList("Status", new SelectList(SistemaGerencia.Web.Models.Constantes.StatusOrcamento, "key", "value", Model.Status), new { @class = "form-control" })
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-2">
            <label>Valor Total</label>
        </div>
        <div class="col-md-3">
            @Html.TextBox("ValorTotal", Model.ValorTotal, htmlAttr)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Tempo Estimado</label>
        </div>
        <div class="col-md-3">
            @Html.TextBox("TempoEstimado", Model.TempoEstimado, htmlAttr)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Garantia</label>
        </div>
        <div class="col-md-3">          
            @if (Model.Novo)
            {
                @Html.DropDownList("Garantia", new SelectList(SistemaGerencia.Web.Models.Constantes.OpcoesSimNao, "key", "value", Model.Garantia != null ? Model.Garantia : "S"), htmlAttr)
            }
            else
            {
                @Html.TextBox("Garantia", SistemaGerencia.Web.Models.Constantes.OpcoesSimNao[Model.Garantia], htmlAttr)
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Forma Pagamento</label>
        </div>
        <div class="col-md-3">
            @Html.TextArea("FormaPagamento", Model.FormaPagamento, htmlAttr)
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label>Observações</label>
        </div>
        <div class="col-md-3">
            @Html.TextArea("Observacao", Model.Observacao, htmlAttr)
        </div>
    </div>
}